.auth-button {
  display: flex;
  align-items: center;
  text-transform: uppercase;
  justify-content: center;
  background-color: #f30168;
  border-radius: 4px;
  border: 0;
  box-shadow: #f3016a98 0 -1px 3px 0 inset, rgba(0, 44, 97, 0.1) 0 3px 6px 0;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  letter-spacing: 2px;
  display: inherit;
  font-size: 1.125rem; /* alterado para rem */
  font-weight: 400;
  line-height: 1.5;
  margin-top: 20px;
  min-height: 56px;
  min-width: 120px;
  width: 100%;
  padding: 1rem 1.25rem; /* alterado para rem */
  position: relative;
  text-align: center;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: baseline;
  transition: all 0.2s cubic-bezier(0.22, 0.61, 0.36, 1);
  max-width: 100%; /* adicionado tamanho máximo */
  & span {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 10%;
    height: 90%;
    left: 90%;
    transform: translate(-50%, -50%);
  }

  & span svg {
    width: 1.2em;
    height: 1.2em;
  }
}

.auth-button.left-align {
  text-align: left;
  white-space: nowrap;
  font-size: 1rem; /* alterado para rem */
}

.auth-button[disabled] {
  opacity: 0.7;
}

.auth-button:hover {
  background-color: #fa1b7c;
  transform: translateY(-2px);
}

@media (min-width: 768px) {
  .auth-button {
    padding: 1rem 2.75rem; /* alterado para rem */
    min-width: 150px;
  }
}
.auth-button-register {
  display: flex;
  align-items: center;
  text-transform: uppercase;
  justify-content: center;
  background-color: transparent;
  color: black;
  border-radius: 4px;
  border: 0;
  box-shadow: #000 0 -1px 3px 0 inset, rgba(0, 44, 97, 0.1) 0 3px 6px 0;
  box-sizing: border-box;
  cursor: pointer;
  letter-spacing: 2px;
  display: inherit;
  font-size: 1rem; /* alterado para rem */
  font-weight: 400;
  line-height: 1.5;
  margin-top: 20px;
  border: #000 1px solid;
  min-height: 56px;
  min-width: 120px;
  width: 70%;
  padding: 1rem 1.25rem; /* alterado para rem */
  position: relative;
  text-align: center;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: baseline;
  transition: all 0.2s cubic-bezier(0.22, 0.61, 0.36, 1);
  max-width: 100%; /* adicionado tamanho máximo */
  & span {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 10%;
    height: 90%;
    left: 90%;
    transform: translate(-50%, -50%);
  }

  & span svg {
    width: 1.2em;
    height: 1.2em;
  }
}

.auth-button-register.left-align {
  text-align: left;
  white-space: nowrap;
  font-size: 1rem; /* alterado para rem */
}

.auth-button-register[disabled] {
  opacity: 0.7;
}

.auth-button-register:hover {
  background-color: #f0f0f0;
  transform: translateY(-2px);
}

@media (min-width: 768px) {
  .auth-button-register {
    padding: 1rem 2.75rem; /* alterado para rem */
    min-width: 150px;
  }
}
