.plan-container {
  display: flex;
  align-items: center;

  flex-direction: column;
  background-color: white;
  max-width: 20%;
  padding: 0px;
  height: auto;
  & h1 {
    color: #959595;
  }
  & strong {
    color: #fa1b7c;
  }
}
