/* Estilos para o container de login */
.register-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  .password-container {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
  }
  .toggle-password-btn {
    background-color: transparent;
    color: #fa1b7c;
    position: absolute;
    margin-right: 20px;
    font-size: 20px;
    border: none;
  }
  & hr {
    width: 100%;
    margin-top: 20px;
  }
  & #register-subtitle {
    margin-top: 20px;
  }

  & .plans-container-h1 {
    margin-top: 30px;
    display: flex;

    line-height: 35px;
    justify-content: center;
    flex-direction: column;

    & span {
      text-align: center;
      color: #fa1b7c;
      text-decoration: 2px underline;
      font-size: 1em;
    }
  }

  .register-form-and-plan {
    display: flex;
    margin-top: 30px;
    flex-direction: row;
    justify-content: center;
    height: auto;
    gap: 20px;
    overflow: hidden;

    & .register-form-group {
      & .register-checkbox {
        display: flex;
        align-items: center;
        justify-content: center;
        & .custom-checkbox {
          /* Estilos personalizados aqui */
          background-color: pink !important;
          width: 20px;
          height: 16px;
          border: 2px #fa1b7c solid !important;
          border-radius: 4px !important;
          /* ... */
        }
        & span {
          text-decoration: underline;
        }
        & label {
          margin-left: 5px;
          width: 100%;
        }
      }
    }
    & .register-plan {
      width: 30%;
      height: 200px;
    }
    & .teste {
      background-color: none;
    }
    & .plans-view {
      height: auto;
    }
  }
  /* Estilos para o elemento <span> dentro do container de login */

  /* Estilos para o botão de registro */
  .register-btn {
    align-content: flex-start;
    font-weight: 500;
    margin-top: 7px;
    font-size: 18px;
    color: #fa1b7c;
  }

  /* Estilos para o logotipo da Locaweb */
  .locaweb-logo {
    margin-top: 50px;
    width: 185px;
    padding: 0 !important;
    height: 100%;
  }

  /* Estilos para o formulário de login */
  .form-register {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 500px;
    background-color: #ffffff;
    padding: 30px;
    border: 1px solid #e6eaf2;
    border-radius: 5px;

    /* Estilos para as labels do formulário */
    & label {
      margin-top: 20px;
      align-content: flex-start;
      font-weight: 500;
      width: 100%;
    }

    /* Estilos para as inputs do formulário */
    & .input {
      margin-top: 2px;
      width: 100%;
      height: 60px;
      border: 1px solid black;
      border-radius: 5px;
      padding-left: 15px;
      font-weight: 400;
      font-size: 15px;

      /* Estilos para o input quando em foco */
      &:focus {
        font-size: 16px;
      }
    }

    /* Estilos para o título do formulário */
    & h1 {
      align-content: flex-start;
      width: 100%;
    }

    /* Estilos para os parágrafos do formulário */
    & p {
      align-content: flex-start;
      width: 100%;
      margin-top: 7px;
    }

    /* Estilos para o botão "esqueci minha senha" */
    .forgot-password-btn {
      text-decoration: none;
      margin-top: 10px;
      width: 100%;
      color: black;
      text-align: end;
    }
  }

  /* Estilos para dispositivos com tela menor que 768px */
  @media (max-width: 767px) {
    .form-login {
      width: 90%;
      padding: 20px;
    }

    /* Estilos para as labels em dispositivos menores */
    & label {
      font-size: 14px;
    }

    /* Estilos para as inputs em dispositivos menores */
    & input {
      height: 50px;
      font-size: 14px;
    }

    /* Estilos para o título em dispositivos menores */
    & h1 {
      font-size: 24px;
    }

    /* Estilos para os parágrafos em dispositivos menores */
    & p {
      font-size: 16px;
    }

    /* Estilos para o botão "esqueci minha senha" em dispositivos menores */
  }
}
